<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Import Address List batch job</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Import Address List</h1>

<form action="#" th:action="@{/importaddress}" method="post">
    <p>Import Address List:</p>
    <input type="submit" value="Now!"/>
</form>

<div th:unless="${#lists.isEmpty(contacts)}">
    <hr/>
    <table border="1">
        <thead>
            <th>name</th>
            <th>email</th>
            <th>phone</th>
        </thead>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.name}">name</td>
            <td th:text="${contact.email}">email</td>
            <td th:text="${contact.phone}">phone</td>
        </tr>
    </table>
</div>
</body>
</html>